:root {
    --primary-color: rgb(247, 247, 247);
    --accent-color: rgb(69, 142, 253);
    --background-color: rgb(30, 30, 30);
    --secondary-color: rgb(255, 143, 143);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    cursor: default;
}

body {
    height: 100vh;
    width: 100vw;

    background: #E8E8E8;
    background: -webkit-linear-gradient(top, #E8E8E8, #9FC6FF);
    background: -moz-linear-gradient(top, #E8E8E8, #9FC6FF);
    background: linear-gradient(to bottom, #E8E8E8, #9FC6FF);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* the full login card with heading and form */
.card-container {
    width: 400px;

    background-color: transparent;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* chat.ly */
.heading {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0px;

    background-color: transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    text-align: center;
    font-size: 62px;
    font-weight: 600;
    color: rgb(48, 47, 47);
}

/* form below the heading in teal background color */
form {
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(128, 128, 128, 0.13);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: 250ms;
}

form:hover {
    transform: translateY(10px);
    box-shadow: 0px -10px 20px rgba(110, 169, 252, 0.3);
}

.field {
    display: flex;
    flex-direction: column;
}

/* text above the input field */
form label {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 14px;
    margin-left: 7px;
}

form input {
    background-color: transparent;
    margin-top: 3px;
    padding: 12px 12px;
    box-sizing: border-box;

    border: 3px solid rgb(30, 30, 30);
    border-radius: 7px;
    outline: none;

    font-size: 16px;
    font-weight: 600;
    color: rgb(30, 30, 30);

    cursor: text;

    transition: 250ms;
}

form input:hover {
    transform: translateY(10px);
    box-shadow: 0px -10px 20px rgba(110, 169, 252, 0.3);
    border: 4px solid var(--secondary-color);
}

form input:focus {
    padding: 11px 11px;
    border: 4px solid var(--secondary-color);
}

form input::placeholder {
    color: black;
}

form button {
    margin-top: 15px;
    padding: 10px 55px;

    border-radius: 60px;
    outline: none;
    border: none;

    background-color: var(--accent-color);

    font-weight: bold;
    font-size: 16px;
    color: rgb(30, 30, 30);

    cursor: pointer;
    transition: 250ms;
}

form button:hover {
    padding: 10px 60px;
    background-color: rgb(63, 130, 231);

    transform: translateY(10px);
    box-shadow: 0px -10px 20px rgba(110, 169, 252, 0.3);
}

form button:active {
    padding: 10px 55px;
}

@media (max-width: 900px) {

    /* the full login card with heading and form */
    .card-container {
        width: 450px;
    }

    /* chat.ly */
    .heading {
        padding: 15px 0px;
        font-size: 54px;
    }

    /* text above the input field */
    form label {
        font-size: 15px;
    }

    form input {
        padding: 8px 8px;

        font-size: 16px;
    }

    form input:focus {
        padding: 7px 7px;
    }

    form button {
        margin-top: 10px;
        padding: 10px 40px;
        border-radius: 40px;

        font-size: 14px;
    }

    form button:hover {
        padding: 10px 45px;
    }

    form button:active {
        padding: 10px 40px;
    }
}

@media (max-width: 625px) {

    /* the full login card with heading and form */
    .card-container {
        width: 400px;
    }

    /* chat.ly */
    .heading {
        padding: 12px 0px;
        font-size: 44px;
    }

    /* text above the input field */
    form label {
        font-size: 15px;
    }

    form input {
        padding: 7px 7px;
    }

    form input:focus {
        padding: 6px 6px;
    }

    form button {
        margin-top: 8px;
    }
}

@media (max-width: 500px) {

    /* the full login card with heading and form */
    .card-container {
        width: 300px;
    }

    /* chat.ly */
    .heading {
        padding: 10px 0px;
        font-size: 32px;
    }

    form {
        gap: 10px;
        padding: 12px 12px;
    }

    /* text above the input field */
    form label {
        font-size: 12px;
    }

    form input {
        padding: 6px 6px;

        font-size: 14px;
    }

    form input:focus {
        padding: 5px 5px;
    }

    form button {
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 8px 35px;

        font-size: 12px;
    }

    form button:hover {
        padding: 8px 35px;
    }

    form button:active {
        padding: 6px 30px;
    }
}